[submodule "deps/tcods"]
	path = deps/tcods
	url = git@github.com:PrithvirajKhelkar/Trivial-Connections-Modified-for-Linux.git
[submodule "deps/fieldgen"]
	path = deps/fieldgen
	url = git@github.com:PrithvirajKhelkar/fieldgen.git